---
export interface Props {
	title: string;
}

import "@fontsource/aileron/100.css";
import "@fontsource/aileron/300.css";
import "@fontsource/aileron/400.css";
import "@fontsource/aileron/600.css";
import "@fontsource/aileron/700.css";
import "@fontsource/aileron/800.css";

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/favicon-16x16.png"
		/>
		<link rel="manifest" href="/site.webmanifest" />
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
		<meta name="msapplication-TileColor" content="#da532c" />
		<meta name="theme-color" content="#ffffff" />
		<title>Clement - Software Engineer</title>
		<meta name="title" content="Clement - Software Engineer" />
		<meta
			name="description"
			content="I build accessible, inclusive websites and applications, from scratch and with a focus on performance. I want to create experiences for the web."
		/>

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://clementlbn.vercel.app/" />
		<meta property="og:title" content="Clement - Software Engineer" />
		<meta
			property="og:description"
			content="I build accessible, inclusive websites and applications, from scratch and with a focus on performance. I want to create experiences for the web."
		/>
		<meta
			property="og:image"
			content="https://images2.imgbox.com/11/bd/HRk6JAdN_o.png"
		/>

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://clementlbn.vercel.app/" />
		<meta property="twitter:title" content="Clement - Software Engineer" />
		<meta
			property="twitter:description"
			content="I build accessible, inclusive websites and applications, from scratch and with a focus on performance. I want to create experiences for the web."
		/>
		<meta
			property="twitter:image"
			content="https://images2.imgbox.com/11/bd/HRk6JAdN_o.png"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	@layer base {
		:root {
			--background: 0 0% 100%;
			--foreground: 222.2 47.4% 11.2%;

			--muted: 210 40% 96.1%;
			--muted-foreground: 215.4 16.3% 46.9%;

			--popover: 0 0% 100%;
			--popover-foreground: 222.2 47.4% 11.2%;

			--card: 0 0% 100%;
			--card-foreground: 222.2 47.4% 11.2%;

			--border: 214.3 31.8% 91.4%;
			--input: 214.3 31.8% 91.4%;

			--primary: 222.2 47.4% 11.2%;
			--primary-foreground: 210 40% 98%;

			--secondary: 210 40% 96.1%;
			--secondary-foreground: 222.2 47.4% 11.2%;

			--accent: 210 40% 96.1%;
			--accent-foreground: 222.2 47.4% 11.2%;

			--destructive: 0 100% 50%;
			--destructive-foreground: 210 40% 98%;

			--ring: 215 20.2% 65.1%;

			--radius: 0.5rem;
		}
	}

	@layer base {
		* {
			@apply border-border;
		}
		body {
			@apply text-foreground;
			font-feature-settings: "rlig" 1, "calt" 1;
		}
	}

	html {
		background-color: #080b12;
		color: #fff;
	}
</style>
