---
export interface Props {
    url: string;
}

const { url } = Astro.props;
---

<div class="rounded-full min-w-[80px] h-[80px] p-[5px] bg-blue-300/10">
    <div
        class="rounded-full p-1 w-full h-full bg-gradient-to-tl from-blue-300 via-blue-500 to-blue"
    >
        <div
            class="w-full h-full rounded-full"
            style={{
                backgroundImage: `url('${url}')`,
                backgroundSize: "300%",
                backgroundPosition: "52% 25%",
            }}
        >
        </div>
    </div>
</div>
