---
export interface Props {
    url: string;
    name: string;
}

const { url, name } = Astro.props;
---

<a href={url} target="_blank" rel="noopener noreferrer">
    <div class="flex gap-2 group cursor-pointer">
        <div
            class="flex group-hover:scale-[1.2] group-hover:shadow-blue-700 shadow-lg transition ease-in-out duration-300 justify-center items-center p-[1px] bg-gradient-to-tl from-blue-300 via-blue-500 to-blue-700 rounded-lg"
        >
            <slot />
        </div>
        <div>{name}</div>
    </div>
</a>
